<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.5.1.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

</head>
<body>
    
    <%- include('navbar.ejs') %>

    <div class="row pt-5 pl-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="despliegueCategoria">Catalogo Empresas</a></li>
            <li class="breadcrumb-item active">Catalogo Productos</li>
        </ol>
    </div>
    <div class="jumbotron mx-5 mb-5">
        <div class="row py-2">
            <div class="masthead bg-tertiray">
                <h1 class="masthead-heading" id="nombreEmpresaT" >Catalogo de Productos</h1><!--insertar el nombre y los datos de la empresa que el usuario seleccione-->
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                        
                <div class="input-group mb-2">
                <input type="text" class="form-control" style="border: 1px solid black;" id="valueSearch" placeholder="Buscar  un producto">
                <div class="input-group-append">
                    <span class="ml-1">
                    <button class="btn btn-success mx-1 my-sm-0" id="btnBuscar" onclick="searchProducto()">Buscar</button>
                    </span>
                </div>
                </div>
                
            </div>
        </div>
        <!--Para los modals-->
        <div id="forModalSesion">

        </div>

        <div id="forModalCrear">

        </div>
        <div class="row" id="forModalProd">

        </div>
        
                
        <h6 class="pl-2"><strong>Buscar solo por categoria.</strong></h6>
        <div class="row pb-5 pl-4">
            
            <div class="form-group" >
                <select class="form-control btn-outline-primary" id="selectCategorias2" onchange="changeCategory()">
                    <% for(var i=0; i < categoria.length; i++) { %>
                        <option pos='<=%i>' id='<=%categoria[i].idCategoria %>' 
                            <%if (i == positionCategory){%> selected="true"<%}%> >
                            <%=categoria[i].nombre%></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row pb-5 pl-3">
            
            <div class="col-sm-3">
                <p>Mostrando datos de:</p>
                <input type="text" id="nombre" name="nombre" value="" readonly style="width: 200px;">
                <h4 class="my-2 pt-3">Vistas</h4>
                
                
                <div class="list-group overflow-auto " style="max-width: 300px;max-height: 600px;" >
                    <a href="" onclick=" return changeView('productos')" class="list-group-item list-group-item-action">Lista Productos</a>
                    <a href="" onclick="return changeView('empresas')" class="list-group-item list-group-item-action">Lista Empresas que ofertan producto</a>
                </div>
                
            </div>
            
            <div class="col-sm-9">
                
                <div class="row mt-3 p-3 overflow-auto" style="max-height: 900px;border: 1px solid darkgray;" id="listaProductos">
                    
                </div>
            
                <div class="row mt-3 p-3 overflow-auto" style="max-height: 900px;border: 1px solid darkgray;" id="listaEmpresas">
                
                </div>
                    
                
         
            </div>
        </div>
    
        
    </div>
 
    </div>

    <%- include('footer.ejs') %>

</body>
</html>