<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.5.1.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

</head>

<body>
    <%- include('navbar.ejs') %>

    <div class="jumbotron m-5">
        

        <!-- desaparece porque supuestamente se envia o eso espero -->
        <div class="row align-items-center justify-content-center">


            <div class="col-sm-5 align-items-center justify-content-center">
                <div class="row align-items-center justify-content-center mb-3">
                    <img id="imagen" src="https://via.placeholder.com/150" alt="Tu imagen" style="width: 250px;
                                height: 250px;" />

                    <br>

                </div>
                <div class="row align-items-center justify-content-center mb-3">
                    <input type="file" id="imgInp" hidden/>
                    <button type="button" class="btn btn-info" id="cargarfoto">Editar Foto</button>

                </div>
            </div>

            <div class="col-sm-6">

                <!--Traer datos de server-->
                <p>
                    <h2><b id="titulo">  </b></h2>
                </p>
                <p>Datos del usuario</p>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input id="nombre" type="text" class="form-control" style="border: 1px solid black;">
                    <!--Insertar el nombre de la empresa-->
                </div>
                <div class="form-group" id="globalCorreo">
                    <label>Correo Electronico:</label>
                    <input id="correo" type="text" class="form-control" style="border: 1px solid black;">
                    <!--Insertar el correo de la empresa-->
                </div>
                <div class="form-group" id="globalClave">
                    <label>Contraseña:</label>
                    <input id="clave" type="text" class="form-control" style="border: 1px solid black;">
                    <!--Insertar el correo de la empresa-->
                </div>
                <div class="form-group mb-5">
                    <label>Telefono:</label>
                    <input id="telefono" type="text" class="form-control" style="border: 1px solid black;">
                    <!--Insertar el telefono de la empresa-->
                </div>

                <div class="row align-items-center justify-content-center mt-5">

                    <div class="col-md-auto ">
                        <button type="button" class="btn btn-success" id="btnGuardar" onclick="guardar()">Guardar Cambios</button>
                    </div>

                </div>



            </div>
            <div class="col-sm-1 mb-5"></div>
        </div>
    </div>
    </div>

    <%- include('footer.ejs') %>
</body>

</html>