

<div id="forModalSesion">

</div>

<div id="forModalProd">

</div>



<div class="modal" id="myModalCrear">
<div class="modal-dialog p-5" role="document">
<div class="modal-content">
<div class="modal-header justify-content-center">
<h5 class="modal-title ">REGISTRARSE</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="row align-items-center justify-content-center mt-3 my-5">
<div class="col-md-auto"><img src="/images/negocio.png" class="mr-3" height=150 width=150 >
<img src="/images/user.png" class="" height=150 width=150></div>
</div>
<div class="row align-items-center justify-content-center mt-3 my-5">
<div class="col-md-auto col-auto">
<!-- <button type="button" onclick="javascript:window.location.href = '<%=home%>registrar/cuentaemprendedor'" class="btn btn-info mr-3">Tengo un negocio</button> -->
<button type="button" onclick="regUser('true')" class="btn btn-info mr-3">Tengo un negocio</button>
<button type="button" onclick="regUser('false')" class="btn btn-warning">Cuenta Normal</button></div>
</div></div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
</div></div></div></div>

<div class="modal" id="myModalSesion">
<div class="modal-dialog p-5" role="document">
<div class="modal-content">
<div class="modal-header justify-content-center">
<h5 class="modal-title ">INICIAR SESION</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="row align-items-center justify-content-center mt-3 my-5">
<div class="col-md-auto ">
<button type="button" onclick="iniciarFacebook()" class="btn btn-info mr-3">Facebook</button>
<button type="button" onclick="iniciarGoogle()" class="btn btn-danger mr-3">Google</button></div>
</div>
<div class="row align-items-center justify-content-center">
<div class="col-md-auto ">
    <button type="button" onclick="crearCuenta()" class="btn btn-primary" data-dismiss="modal">Crear cuenta</button></div>
</div></div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
</div></div></div></div>

<div class="modal" id="myModalRegistrar">
<div class="modal-dialog p-5" role="document">
<div class="modal-content">
<div class="modal-header justify-content-center">
<h5 class="modal-title ">REGISTRARSE</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="md-form my-5 form-group">
<div class="row align-items-center justify-content-center">
<div>
    <h5 class="mb-4">Continuar con...</h5>
</div>
<div class="col-md-auto ">
<button type="button" onclick="iniciarFacebook()" class="btn btn-info mr-3">Facebook</button>
<button type="button" onclick="iniciarGoogle()" class="btn btn-danger mr-3">Google</button></div>
</div></div></div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
</div></div></div></div>


<div class="modal" id="myModalProducto">
    <div class="modal-dialog p-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nombreEmpresaProd"></h5>
                <button type="button" onclick="cleanStuffProd()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form mb-5 form-group">
                    <label>Nombre del producto:</label>
                    <input type="text" id="nombre" class="form-control" required style="border: 1px solid black;"/>
                    <label>Descripcion del producto: </label>
                    <input type="text" id="descripcion" class="form-control" style="border: 1px solid black;" required />
                    <label>Precio del producto: </label>
                    <input type="number" id="precioP" min="0" style="border: 1px solid black;" step=".01" class="form-control"/>
                </div>

                <div class="row align-items-center justify-content-center mb-5">
                    <div class="col-sm-auto">
                        <div class="row align-items-center justify-content-center mb-3" >
                            <img id="imagen" src="https://via.placeholder.com/150" alt="Tu imagen" style="width: 250px;height: 250px;"/>
                        <br></div>
                        <div class="row align-items-center justify-content-center mb-3" >
                            <input type="file"  id="imgInp" hidden/>
                            <button type="button" class="btn btn-info" id="cargarfoto" >Editar Foto</button>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center mb-5" id="mensajeAlerta">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Error en el ingreso de datos</strong>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center mb-5">
                    <div class="col-md-auto ">
                        <button type="button" onclick="" class="btn btn-success mr-3" id="btnSaveProd">Guardar</button>
                        <button type="button" onclick="" id="btnProdEliminar" class="btn btn-danger mr-3">Cancelar</button>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" onclick="cleanStuffProd()" class="btn btn-secondary"  >Cerrar</button>
            </div>
        </div>
    </div>
</div>
