

<div id="forModalSesion">

</div>

<div class="modal" id="myModalCrear">
<div class="modal-dialog p-5" role="document">
<div class="modal-content">
<div class="modal-header justify-content-center">
<h5 class="modal-title ">REGISTRARSE</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="row align-items-center justify-content-center mt-3 my-5">
<div class="col-md-auto"><img src="/images/negocio.png" class="mr-3" height=150 width=150 >
<img src="/images/user.png" class="" height=150 width=150></div>
</div>
<div class="row align-items-center justify-content-center mt-3 my-5">
<div class="col-md-auto col-auto">
<!-- <button type="button" onclick="javascript:window.location.href = '<%=home%>registrar/cuentaemprendedor'" class="btn btn-info mr-3">Tengo un negocio</button> -->
<button type="button" onclick="regUser('true')" class="btn btn-info mr-3">Tengo un negocio</button>
<button type="button" onclick="regUser('false')" class="btn btn-warning">Cuenta Normal</button></div>
</div></div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
</div></div></div></div>

<div class="modal" id="myModalSesion">
<div class="modal-dialog p-5" role="document">
<div class="modal-content">
<div class="modal-header justify-content-center">
<h5 class="modal-title ">INICIAR SESION</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="row align-items-center justify-content-center mt-3 my-5">
<div class="col-md-auto ">
<button type="button" onclick="iniciarFacebook()" class="btn btn-info mr-3">Facebook</button>
<button type="button" onclick="iniciarGoogle()" class="btn btn-danger mr-3">Google</button></div>
</div>
<div class="row align-items-center justify-content-center">
<div class="col-md-auto ">
    <button type="button" onclick="crearCuenta()" class="btn btn-primary" data-dismiss="modal">Crear cuenta</button></div>
</div></div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
</div></div></div></div>

<div class="modal" id="myModalRegistrar">
<div class="modal-dialog p-5" role="document">
<div class="modal-content">
<div class="modal-header justify-content-center">
<h5 class="modal-title ">REGISTRARSE</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="md-form my-5 form-group">
<div class="row align-items-center justify-content-center">
<div>
    <h5 class="mb-4">Continuar con...</h5>
</div>
<div class="col-md-auto ">
<button type="button" onclick="iniciarFacebook()" class="btn btn-info mr-3">Facebook</button>
<button type="button" onclick="iniciarGoogle()" class="btn btn-danger mr-3">Google</button></div>
</div></div></div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
</div></div></div></div>
