<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acolitame</title>
    <script src="/scripts/session.js"></script>
</head>
<body onload="setSession()">
</body>
</html>